<h1>Reset your password</h1>

<form action="<%= password_reset_url(@password_reset_token) %>" method="post">
	<input type="hidden" name="_method" value="put">
	
	<label for="password">New password</label>
	<input type="password" name="password" id="password">
	<br>
	<label for="passwordconfirm">Re-type your new password</label>\
	<input type="password" name="passwordconfirm" id="passwordconfirm">
	
	<input type="submit">
	
</form>