<h1>Reset your password</h1>

<form action="<%= password_resets_url %>" method="post" >
	
	<label for="email">Enter your email</label>
	<input type="email" id="email" name="email">

	<input type="submit">

</form>